.home-page {
  padding: 60px;

  .notElectron {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
  }

  .images {
    .logo {
      width: 100px;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 50px #b18725);
      }

      &.react {
        &:hover {
          filter: drop-shadow(0 0 50px #6de4ff);
        }
      }

      &.electron {
        &:hover {
          filter: drop-shadow(0 0 40px #6cbdcb);
        }
      }
    }
  }

  .card {
    width: 800px;
    padding: 20px;
    background-color: #1e1e1e;

    &.top {
      border-radius: 20px 20px 0 0;
    }

    &.bottom {
      border-radius: 0 0 20px 20px;
    }

    pre {
      font-size: 1.6rem;
      background-color: #3a3a3a;
      padding: 10px 25px;
      border-radius: 5px;
    }

    button {
      background-color: rgb(40, 40, 40);
      padding: 10px 30px;
      border-radius: 5px;
      transition: all 0.3s ease;
      font-family: "Roboto", sans-serif;

      &:hover {
        background-color: rgb(50, 50, 50);
      }
    }
  }
}