.electron-title-bar {
  -webkit-app-region: drag;
  width: 100%;
  height: 35px;
  background-color: #2f3241;
  display: flex;
  align-items: center;
  padding-left: 15px;
  color: white;
  font-size: 0.8rem;

  .buttons {
    -webkit-app-region: no-drag;
    display: flex;
    width: max-content;
    height: 100%;


    .button {
      width: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      &.minimize {
        &:hover {
          background-color: rgba(255, 219, 88, 0.3);
        }
      }

      &.maximize {
        &:hover {
          background-color: rgba(62, 224, 73, 0.3);
        }
      }

      &.unmaximize {
        &:hover {
          background-color: rgba(62, 224, 73, 0.3);
        }
      }

      &.close {
        &:hover {
          background-color: #ba261e;
        }
      }
    }
  }
}