:root {
  // Page colors
  --text: #F2F2F2;
  --bg: #151515;
  --bg-secondary: #191919;
  --bg-secondary-start: #191919;
  --bg-secondary-end: #242424;

  // Border colors
  --border: #303030;
  --border-hover: #808080;

  // Button colors
  --button-text: #FFFFFF;
  --button-bg: #3F62B5;
  --button-bg-start: #3F62B5;
  --button-bg-end: #2A4279;
  --button-border: #3F62B5;

  --button-green-bg: #62B53F;
  --button-green-bg-start: #62B53F;
  --button-green-bg-end: #42792A;
  --button-green-border: #62B53F;

  --button-red-bg: #B53F62;
  --button-red-bg-start: #B53F62;
  --button-red-bg-end: #792A42;
  --button-red-border: #B53F62;

  --button-purple-bg: #3F4DB5;
  --button-purple-bg-start: #3F4DB5;
  --button-purple-bg-end: #2A3279;
  --button-purple-border: #3F4DB5;

  // Input colors
  --input-bg: #282828;

  // Label colors
  --label-text: #a0a0a0;
}